@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>*@
<br /><br />
<hr />
<div style="margin-right: -15px; margin-left: -15px;">
    <h1>View Current/Prior Tickets</h1>

    <div style="display: inline-block">
        <h2>@Html.ActionLink("Open Tickets", "Index", "tblTickets")</h2>
        <p>
            Create a new ticket or check the progress of previously submitted tickets. 
        </p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div style="display: inline-block; margin-left: 200px">
        <h2>@Html.ActionLink("Closed Tickets", "Index", "ResolvedTicket")</h2>
        <p>View tickets that have been resolved.</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <h1>OR:</h1>
    <div>
        <h2>@Html.ActionLink("Create a ticket", "Create", "tblTickets")</h2>
    </div>
    @*<div class="col-md-4">
        <h2>@Html.ActionLink("Users", "Index", "tblUsers")</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
</div>